:root{
    --background: #0D1B2A;
    --background-lighter: #1B263B;
    --primary: #415A77;
    --secondary: #778DA9;
    --text: #E0E1DD;
    --text-dark: #343a40;
    --accent: #717371; /*need to find good one*/

    --background-hover: #14283F;
    --background-lighter-hover: #23324C;
    --primary-hover: #537396;
    --secondary-hover: #8EA4C0;
    --text-hover: #FFFFFF;
    --text-dark-hover: #1A1D20;


    --header-height: 80px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    background-color: var(--accent);
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Extra safety for mobile sideways scrolling */
}